<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edupoll.quick.repository.ChatsRepository">
	<insert id="saveChatRoom">
		INSERT INTO CHAT_ROOMS VALUES(#{id}, #{productId}, #{sellerId}, #{buyerId}, sysdate )
	</insert>
	<select id="findChatRoomByProductIdAndBuyerId" resultType="chatRoom">
		SELECT * FROM CHAT_ROOMS WHERE PRODUCT_ID=#{productId} AND BUYER_ID=#{buyerId}
	</select>
	<insert id="saveChatMessage">
		INSERT INTO CHAT_MESSAGES VALUES
			(CHAT_MESSAGES_SEQ.NEXTVAL, #{chatRoomId}, #{talkerId}, #{content}, sysdate, null)
	</insert>
	<select id="findChatRoomById" resultType="chatRoom">
		SELECT * FROM CHAT_ROOMS WHERE ID=#{id}
	</select>
	<select id="findChatRoomByBuyerIdOrSellerId" resultType="chatRoom">
		SELECT * FROM CHAT_ROOMS WHERE BUYER_ID=#{logonAccountId} OR SELLER_ID=#{logonAccountId}
	</select>
	<select id="findChatMessageByRoomId" resultType="chatMessage">
		SELECT * FROM CHAT_MESSAGES WHERE CHAT_ROOM_ID=#{roomId} ORDER BY SENT_AT ASC
	</select>
	<select id="findAfterChatMessageByRoomId" resultType="chatMessage">
		SELECT * FROM CHAT_MESSAGES WHERE CHAT_ROOM_ID=#{roomId} AND 
		id &gt; #{lastMessageId}
		ORDER BY SENT_AT ASC
	</select>
	
	<select id="countUncheckedMessageByRoomId" resultType="int">
		SELECT COUNT(*) FROM CHAT_MESSAGES 
			WHERE CHAT_ROOM_ID=#{roomId} AND TALKER_ID != #{logonAccountId} AND CHECKED_AT IS NULL
	</select>
	<update id="updateCheckAtByRoomId">
		UPDATE CHAT_MESSAGES 
				SET CHECKED_AT=sysdate 
			WHERE CHAT_ROOM_ID=#{roomId} AND TALKER_ID != #{logonAccountId} AND CHECKED_AT IS NULL
	</update>
</mapper>

